.title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--header-height);

  h1 {
    text-transform: uppercase;
  }

  hr {
    border-radius: 10px;
    height: 3px;
    width: 200px;
    background-color: var(--accent-color);
    outline: none;
    border: none;
  }
}
