:root {
  --primary-color: #1b5e20;
  --secondary-color: #c5e1a5;
  --secondary-text-color: #757575;
  --accent-color: #d4af37;

  --card-bg-color: #deeecb;

  --gray-color: #444444;
  --brown-color: #5d4037;
  --error-color: #e62727;
  --blue-color: #007bff;

  --max-width: 1440px;
  --header-height: 110px;
  --white-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#nprogress .bar {
  height: 4px !important;
  background: var(--primary-color) !important;
}

#nprogress .peg {
  box-shadow:
    0 0 10px var(--primary-color),
    0 0 5px var(--primary-color) !important;
}
