.productList {
  background: #fff;
  border-radius: 16px;
  padding: 20px 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: #2e4835;
  }
}
