.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}

.content {
  margin: 60px 0;
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
