.container {
  background-color: var(--dashboard-bg-color);
  min-height: 100vh;

  .wrapper {
    max-width: var(--max-width);
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .content {
      flex: 1;
    }
  }
}
