.container {
  max-width: var(--max-width);
  padding: 40px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  height: fit-content;
  gap: 40px;
  position: relative;
}

.logoContainer {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .logo {
    --size: 200px;
    width: var(--size);
    height: var(--size);
    position: relative;
    margin-bottom: 20px;

    img {
      position: absolute;
      border-radius: 50%;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      width: var(--size);
      height: var(--size);
      object-fit: cover;
    }
  }

  .text {
    text-align: center;

    .title {
      font-weight: 400;
      font-size: 40px;
    }

    .subtitle {
      font-weight: 300;
      font-size: 20px;
      margin: 10px 0;
    }

    .description {
      text-align: justify;
      color: var(--secondary-text-color);
    }
  }
}

.content {
  flex: 2;
}

.link {
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 500;
  position: absolute;
  top: 40px;
  left: 20px;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--secondary-text-color);
  }
}
