.container {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 20px;
  color: var(--black-color);
  font-size: 16px;
}

.content {
  margin-top: 20px;
  background: var(--card-bg-color);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  .info {
    display: flex;
    gap: 40px;
    margin-bottom: 12px;
    font-weight: 500;
  }

  .address {
    margin-bottom: 12px;
    color: var(--secondary-text-color);
  }

  .paymentMethod {
    margin-bottom: 12px;
    font-weight: 500;
  }

  .status {
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--blue-color);
  }
}

.tableWrapper {
  margin-top: 10px;

  table {
    width: 100%;
    border-collapse: collapse;
    background: var(--white-color);
    overflow: hidden;
    border-radius: 12px;

    thead {
      background: var(--secondary-color);
      color: var(--black-color);
    }

    th,
    td {
      padding: 14px 16px;
      text-align: left;
      border-bottom: 1px solid #e0e0e0;
    }

    tbody {
      tr {
        &:hover {
          background: #f7f7f7;
          transition: 0.15s ease;
        }
      }
    }
  }
}

.imageWrapper {
  --size: 80px;
  position: relative;
  width: var(--size);
  height: var(--size);

  img {
    padding: 12px;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
