.container {
  width: var(--dashboard-sidebar-width);
  min-height: calc(100vh - 40px);
  background: rgba(60, 70, 123, 0.26);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(60, 90, 123, 0.26);

  .title {
    color: var(--white-color);
    margin-bottom: 20px;
    font-size: 14px;
  }

  .list {
    li {
      width: 100%;
      margin-bottom: 10px;

      a {
        text-wrap: nowrap;
        font-size: 15px;
        border-radius: 5px;
        padding: 10px 20px;
        display: flex;
        flex: 1;
        align-items: center;
        gap: 12px;
        color: var(--white-color);
        background: var(--dashboard-sidebar-bg-color);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.1px);
        -webkit-backdrop-filter: blur(4.1px);
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent;
      }

      a:hover,
      a.active {
        background: var(--dashboard-bg-color);
        border: 1px solid var(--secondary-color);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4.1px);
        -webkit-backdrop-filter: blur(4.1px);
      }
    }
  }
}
